*.vscode
ModelCreation/venv/
ModelCreation/multirun/
ModelCreation/outputs/
ModelCreation/logs/
ModelCreation/TensorBoardLogs/
ModelCreation/ModelCheckpoints/
.env
*.jpg
/Data
*.dvcignore
*.bat
*.sh
*.db
*.tflite
*.hdf5